header{
    position: sticky;
    top:0;
    z-index: 999;
    width: 100vw;
    height: 80px;
    /* border: 2px solid red; */
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    background-color: white;
}

.nav-menu{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    
}

.nav-menu span:hover{
    cursor: pointer;
    scale: 1.2;
    color: tomato;
    transition: all 0.5s ease;

}


.ham-icon{
    display: none;
}

.mobile-nav-menu{
    
    visibility: none;

}

.cartIcon-wrapper{
    /* border:2px solid red; */
    position:relative;
}
.cartIcon-wrapper p{
    position: absolute;
    top:-17px;
    right:-18px;
    padding: 2px 7px;
    border-radius: 15px;
    background-color: tomato;
    color: white;
}




/* media queries */

@media screen and (max-width: 480px) {

    header{
        position: sticky;
        top:0;
        z-index: 999;
        width: 100%;
        height: 80px;
        /* border: 2px solid red; */
        box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        background-color: white;
    }
    .image-wrapper img{
        width: 230px;
    }
    .nav-menu{
        display: none;
    }
    .ham-icon{
        display: block;
    }
    
    .mobile-nav-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:80px;
        left:0;
        width: 100%;
        background-color: white;
        
        padding: 10px;
        height: 350px;
        gap: 30px;
        animation: slideDown 1s ease;
        transition: all 1s ease;
    }
    .mobile-nav-menu span svg{
        size: 25px;
    }

    .mobile-nav-menu span{
        font-size: 25px;
    }
  }


  /* keyframes */

  @keyframes slideDown {
    0%{
        transform: translateY(-500px);
    }

    100%{
        transform: translateY(0);
    }
  }
